@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Species

<h2>Add a New Species</h2>

@using (Html.BeginForm("InsertSpeciesToDatabase", "Species", "Post"))
{
    <div class="form-group">
        <label for="">Select a Genus</label>
        <select class="form-control" name="GenusID" value="">
            @foreach (var gen in Model.Genus)
            {
                <option value="@gen.GenusID">@gen.GenusName</option>
            }
        </select>
    </div>
    
    <input asp-for="SpeciesID" type="hidden" value="" />

    <label asp-for="SpeciesName" class="control-label">Species Name</label>
    <input type="text" name="SpeciesName" class="form-control" value="" />

    <label asp-for="Pronunciation" class="control-label">Pronunciation</label>
    <input type="text" name="Pronunciation" class="form-control" />

    <label asp-for="Meaning" class="control-label">Meaning</label>
    <input type="text" name="Meaning" class="form-control" />

    <label asp-for="Taxonomist" class="control-label">Taxonomist</label>
    <input type="text" name="Taxonomist" class="form-control" />

    <label asp-for="DiscoveryYear" class="control-label">Discovered</label>
    <input type="number" step="1" name="DiscoveryYear" class="form-control" />

    <label asp-for="CountryOfOrigin" class="control-label">Country</label>
    <input type="text" step="1" name="CountryOfOrigin" class="form-control" />

    // <label asp-for="Image" class="control-label">Image</label>
    // <input type="byte[]" name="Image" class="form-control" />

    <label asp-for="Latitude" class="control-label">Latitude</label>
    <input type="number" step=".000001" name="Latitude" class="form-control" />

    <label asp-for="Longitude" class="control-label">Longitude</label>
    <input type="number" step=".000001" name="Longitude" class="form-control" />
    
    <label asp-for="ImageName" class="control-label">Filename</label>
    <input type="text" name="ImageName" class="form-control" />

    <label asp-for="MottledLeaf" class="control-label">Mottled Leaf</label>
    <input type="checkbox" name="MottledLeaf" class="form-control" />

    <input type="submit" value="Add Species" class="btn btn-primary" />
}
