@{
    ViewData["Title"] = "About";
}
<h4>@ViewData["Title"]</h4>

<p>Soon to have cool stuff about me in it.</p>

<input value="Click Me*" class="btn btn-primary" />

<p>* The button doesn't do anything.</p>
